@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Varela";
  src: local("Varela"), url(./fonts/VarelaRound-Regular.ttf) format("tff");
}



.cursive {
  font-family: "Varela", sans-serif;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 2.5rem;
}


